@import "../styles/var.scss";

.container {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    * {
      margin: 10px;
    }
    & > button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
        transform: rotate(180deg);
      }
    }

    select {
      color: rgb(100, 100, 100, 0.8);
      cursor: pointer;
      font: {
        size: 20px;
        weight: 500;
      }
    }
  }

  & > table {
    text-align: center;
    margin: auto;
    border-collapse: separate;
    border-spacing: 2vmin;
    position: absolute;
    top: 5vh;
    bottom: 0;
    left: 0;
    right: 0;
    & > thead {
      & > tr > th {
        color: $gray-color;
        font: {
          size: 2.5vmin;
          weight: 500;
          family: "Roboto Mono", monospace;
        }
        &:first-child {
          color: rgb(220, 118, 118);
        }
        &:last-child {
          color: rgb(122, 122, 208);
        }
      }
    }

    .item {
      color: $gray-color;
      border-radius: 35%;
      background-color: $theme-color;
      width: 8vmin;
      min-width: 20px;
      min-height: 20px;
      height: 8vmin;
      cursor: pointer;
      font: {
        size: 3vmin;
        weight: 500;
      }
      &:last-child {
        background-color: $theme-color;
        color: rgb(122, 122, 208);
      }
      &:first-child,
      &.holi {
        background-color: $theme-color;
        color: rgb(220, 118, 118);
      }
      &.writed {
        background-color: $sub-color;
        color: white;
      }
      &.today {
        border: 3px solid #8a8988;
      }
      &.empty {
        cursor: default;
        background: none;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    .nav {
      select {
        color: rgba(182, 182, 182, 0.8);
      }
    }
  }
}
